---
layout: archive
title: "科研成果"
permalink: /publications/
author_profile: true
---

{% include base_path %}
<h2>学术论文</h2><hr />
<ol>
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for post in site.publications reversed %}
    {% for category in site.publication_category  %}    
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% include archive-single.html %}
    {% endfor %}  
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
</ol>

<h2>发明专利</h2><hr />
<ol>
  <li>李茹；<b>张晓东</b>；于美菊；崔波；庞滨；一种基于行车记录仪的交通事故信息收集系统，2020-6-23，中国，ZL201710017067.X。</li>
</ol>
