---
layout: archive
title: "科研成果"
permalink: /publications/
author_profile: true
---

{% include base_path %}
<h2>学术论文</h2><hr />
<ol>
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for post in site.publications reversed %}
    {% for category in site.publication_category  %}    
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% include archive-single.html %}
    {% endfor %}  
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
</ol>

<h2>发明专利</h2><hr />
<ol>
  <li>李茹；<b>张晓东</b>；于美菊；崔波；庞滨；一种基于行车记录仪的交通事故信息收集系统，2020-6-23，中国，ZL201710017067.X。</li>
  <li>李茹；<b>张晓东</b>；范君；一种基于区块链的收集交通事故信息的架构及工作方法，2021-7-9，中国，ZL201910298644.6。</li>
  <li>李茹；史锦山；张新；<b>张晓东</b>；张江徽；一种区块链访问控制中的权限传递方法，2021-11-19，中国，ZL201911115968.8。</li>
  <li>李茹；史锦山；张新；<b>张晓东</b>；张江徽；一种区块链访问控制中的权限分割方法，2023-7-7，中国，ZL201911115805.X。</li>
</ol>

<h2>软件著作权登记</h2><hr />
<ol>
  <li><b>张晓东</b>；李茹；范君；基于IPV6的交通事故信息收集系统，2019SR0594779，原始取得，全部权利，2018-12-20。</li>
</ol>
