---
layout: archive
title: "科研成果"
permalink: /publications/
author_profile: true
---

{% include base_path %}
<h2>学术论文</h2><hr />
<ol>
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for post in site.publications reversed %}
    {% for category in site.publication_category  %}    
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% include archive-single.html %}
    {% endfor %}  
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
</ol>

<h2>承担科研项目</h2><hr />
<ol>
  <li><b>主持</b>内蒙古自治区教育厅，一流学科科研专项项目，YLXKZX-NGD-015，基于区块链的车联网能源数据安全共享机制研究，2024-6至2026-12，30万元，在研。</li>
  <li><b>主持</b>内蒙古自治区科学技术厅，内蒙古自治区自然科学基金项目，2024QN06022，车联网环境下的轻量区块链关键技术研究，2024-1至2026-12，10万元，在研。</li>
  <li><b>主持</b>内蒙古自治区人力资源和社会保障厅，2023年度自治区本级事业单位引进人才科研启动支持项目，DC2400002171，2024-7至2027-6，10万元，在研。</li>
  <li><b>主持</b>内蒙古工业大学，科研启动金项目，BS2024067，2024-9至2027-9，10万元，在研。</li>
  <li><b>主持</b>呼和浩特鸿盛工业园区管理委员会，内蒙古自治区“科技兴蒙”行动重点专项-国家级高新技术开发区“提质进位”行动项目，2021-科技兴蒙-提质进位-04，基于区块链和人工智能的智慧矿山安全生产关键技术研究与示范应用，2021-8至2023-12，1800万元，结题。</li>
  <li><b>主持</b>内蒙古大学，研究生科研创新项目，10000-15010109，车联网环境下基于曼哈顿距离的信任管理模型研究，2019-5至2020-5，0.5万元，结题。</li>
  <li><b>主持</b>塞尔网络有限公司，赛尔网络下一代互联网技术创新项目，NGII20171303，基于IPv6的交通事故信息收集系统，2018-1至2018-12，5万元，结题。</li>
  <li><b>参与</b>内蒙古自治区科技“突围”工程“揭榜挂帅”项目子课题， 2025KJTW0025-04，舍饲场景下牧场多方协同与耦合分析，2025-07至2028-06，190万元，在研。</li>
  <li><b>参与</b>内蒙古自治区科学技术厅，内蒙古自治区自然科学基金项目，2025QN06020，星地车联网环境下基于联邦学习的车辆移动性管理机制研究，2025-07至2028-06，10万元，在研。</li>
  <li><b>参与</b>内蒙古自治区教育厅，内蒙古自治区高等学校创新团队发展计划，数据智能与安全，NMGIRT2506，2025-01至2027-12，50万元，在研。</li>
  <li><b>参与</b>内蒙古自治区科学技术厅，内蒙古自治区科技计划项目，2023YFSW0008，物联网环境下基于区块链的身份管理关键技术研究，2023-8至2026-7，200万元，在研。</li>
  <li><b>参与</b>国家自然科学基金委员会，地区科学基金项目，61962042，命名数据网络环境下基于智能合约的隐私保护机制研究，2020-1至2023-12，39万元，结题。</li>
  <li><b>参与</b>国家自然科学基金委员会，地区科学基金项目，61862046，基于智能合约的物联网访问控制架构研究，2019-1至2022-12，39万元，结题。</li>
  <li><b>参与</b>内蒙古自治区科学技术厅，内蒙古自治区科技计划项目，2019GG376，基于区块链的全过程食品安全溯源管理系统关键技术，2019-11至2021-12，260万元，结题。</li>
  <li><b>参与</b>内蒙古自治区科学技术厅，内蒙古自治区科技成果转化项目，CGZH2018124，基于车联网和大数据的疲劳驾驶预警系统，2018-8至2020-12，168万元，结题。</li>
</ol>

<h2>发明专利</h2><hr />
<ol>
  <li><b>张晓东</b>；李雷孝；王钢；岳鹏飞；刘乃维；一种基于强化学习的超启发式区块链存储优化方法；2025-12-12，中国，ZL202510520924.2。</li>
  <li>李茹；<b>张晓东</b>；于美菊；崔波；庞滨；一种基于行车记录仪的交通事故信息收集系统，2020-6-23，中国，ZL201710017067.X。</li>
  <li>李茹；<b>张晓东</b>；范君；一种基于区块链的收集交通事故信息的架构及工作方法，2021-7-9，中国，ZL201910298644.6。</li>
  <li>李茹；史锦山；张新；<b>张晓东</b>；张江徽；一种区块链访问控制中的权限传递方法，2021-11-19，中国，ZL201911115968.8。</li>
  <li>李茹；史锦山；张新；<b>张晓东</b>；张江徽；一种区块链访问控制中的权限分割方法，2023-7-7，中国，ZL201911115805.X。</li>
</ol>

<h2>软件著作权登记</h2><hr />
<ol>
  <li><b>张晓东</b>；李艺达；李立川；基于区块链的碳核算和碳交易系统，2026SR0126601，原始取得，全部权利，2026-1-21。</li>
  <li><b>张晓东</b>；高凯；郝祝箮；区块链赋能数字藏品的信息系统，2026SR0126624，原始取得，全部权利，2026-1-21。</li>
  <li>赵欣；刘乃维；<b>张晓东</b>；张力升；白志远；张锦；徐祥帅；刘尔涛；网络流量异常告警服务器管理系统，2024SR1349699，始取得，全部权利，2024-09-11。</li>
  <li><b>张晓东</b>；李茹；范君；基于IPV6的交通事故信息收集系统，2019SR0594779，原始取得，全部权利，2018-12-20。</li>
</ol>
